body {                              /*formatting for body component of html*/
    background-color:rgb(194, 30, 30);
    text-align:right;
 }
 
 p {                                 /*formatting for paragraph of html*/
   color: #0cee2f;
   font-family: Shanti;
   font-size:2.4em;
 }
 
 h1 {
   background-color:cyan;            /*formatting for heading of html*/
   color:black;
   font-family: Shanti;
   font-size:2.9em;
 }
 
 input {                             /*formatting for input of html*/
         width:300px;
         height:50px;
         margin:20px;
         border:5px solid black;
         border-radius: 8px;
         font-family: Shanti;
         text-align: center;
         font-size: 1.3em;
 }