<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mango</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon2.ico">
  <!-- Load Require CSS -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font CSS -->
  <link href="assets/css/boxicon.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
  <!-- Load Tempalte CSS -->
  <link rel="stylesheet" href="assets/css/templatemo.css">
</head>

<body>
  <!-- Header -->
  <nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
    <div class="container d-flex justify-content-between align-items-center">
      <a class="navbar-brand h1" href="index.html">
        <!--  <img src="assets/img/favicon2.ico" />-->
        <span class="text-dark h4">Sola</span><span class="text-primary h4">Net</span>
      </a>
    </div>
  </nav>
  <!-- Close Header -->

  <!-- Start Banner Hero -->
  <div class="row container-fluid vh-100">
    <div id="index_banner" class="banner-vertical-center-index container-fluid">
      <div class="carousel-item active">
        <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5">
          <h1 id="mainHeading"
            class="banner-heading h1 text-secondary display-3 mb-0 pb-5 mx-0 px-0 light-300 typo-space-line">
            Unlock your <strong>Potential</strong>
            <br>Sola<strong>Net</strong>
          </h1>
          <div id="searchView" style="display:block">
            <p class="banner-body text-muted py-3 mx-0 px-0">
              Enter your address, our application will generate a offer for photovoltaic based on semantic segmentation
              of satellite imagery
            <div class="row">
              <div class="col-sm-4"> <label id="address" for="fname">Address:</label>
                <input type="text" id="fname" name="fname"><br><br>
              </div>
              <div class="col-sm-4"><a class="btn btn-primary" href="#result" role="button">Search</a></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- End Banner Hero -->
  <div class="container-fluid vh-100">
    <div class="mx-4 row" id="result">
      <div class="col mt-4 text-center">
        <div class="thumbnail">
          <a href="assets/img/example.jpg">
            <img src="assets/img/example.jpg" style="width:90%">
          </a>
        </div>
      </div>
      <div class="col text-center mt-4">
        <h2 id="RevenueSpan">Estimated Revenue</h2>
        <p id="Revenue50">50% self use: 300€</p>
        <p id="Revenue30">30% self use: 250€</p>
        <p id="Revenue20">20% self use: 200€</p>
        <p id="Amortisation">2 to 5 years for ammortisation</p>
      </div>
      <div class="col mt-4 text-center">
        <h2>Estimated Investment</h2>
        <p id="CostsSolarPanel">30 m²</p>
        <p id="CostsInverter">Installable Peak Power: 10 kWp</p>
        <p id="CostsCablingsqaw">Nominal Power: 5000 W</p>
        <p id="TotalCost">bla bla</p>
      </div>
    </div>

    <div class="mx-4 row" id="result">
      <div class="col mt-4 text-center">
        <h2>Estimated Roof Area</h2>
        <h1>200 m² | 20 kWp</h1>

      </div>
      <div class="col mt-4 text-center">
        <h2>Estimated Break-even-Point</h2>
        <h1>5 Years</h1>
      </div>

      <div class="container my-3">
        <div class="col-md-12 text-center">
          <a class="btn btn-primary" href="#graph" role="button">Show Graph</a>
        </div>
      </div>
    </div>
  </div>

  <div id="graph" class="row container-fluid vh-100 mx-4">
    <div class="col">
      <h2 id="RevenueSpan" style=" margin-top: 3%;">Break-even-Point</h2>
      <canvas id="myChart" style="width:100%; margin-top: 5%;"></canvas>
    </div>
    <div class="col" style="margin-top: 8%;">
      <p class="text-danger" style="font-size: large;">Break-even-Line</p>
      <p class="text-success" style="font-size: large;">50% self consumption </p>
      <p class="text-primary" style="font-size: large;">30% self consumption </p>
      <p class="text-warning" style="font-size: large;">20% self consumption</p>
    </div>
  </div>


  <!-- For Graph -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <!-- Bootstrap -->
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <!-- Page Script -->
  <script>

    function start_calc() {
      var requestedAddress = document.getElementById("address").value;
      document.getElementById("mainHeading").textContent = 'Result View';
      document.getElementById("resultView").style["display"] = "block";
      document.getElementById("searchView").style["display"] = "none";
      document.getElementById("ResultingImage").src = "assets/img/example.jpg";

      /*  //Costs
        document.getElementById("TotalCost").textContent       = 'TbD';
        document.getElementById("CostsSolarPanel").textContent = 'TbD';
        document.getElementById("CostsInverter").textContent   = 'TbD';
        document.getElementById("CostsCabling").textContent    = 'TbD';
        //Revenue
        document.getElementById("RevenueSpan").textContent  = 'TbD';
        document.getElementById("Revenue100").textContent   = 'TbD';
        document.getElementById("Revenue70").textContent    = 'TbD';
        document.getElementById("Revenue50").textContent    = 'TbD';
        document.getElementById("Amortisation").textContent = 'TbD';
        //Revenue
        document.getElementById("RoofArea").textContent = 'TbD';
        document.getElementById("PeakPower").textContent = 'TbD';
        document.getElementById("NominalPower").textContent = 'TbD';
        document.getElementById("bla1").textContent = 'bla';
        document.getElementById("bla2").textContent = 'bla bla';
        */
    }

    //Graph:
    var xValues = [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000];
    new Chart("myChart", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
          data: [1600, 1600, 1600, 1600, 1600, 1600, 1600, 1600, 1600, 1600],
          borderColor: "red",
          fill: false
        }, {
          data: [1600, 1700, 1700, 1900, 2000, 2700, 4000, 5000, 6000, 7000],
          borderColor: "green",
          fill: false
        }, {
          data: [300, 700, 2000, 5000, 6000, 4000, 2000, 1000, 200, 100],
          borderColor: "blue",
          fill: false
        }, {
          data: [300, 400, 500, 600, 700, 800, 900, 1000, 1200, 1300],
          borderColor: "orange",
          fill: false
        }]
      },
      options: {
        legend: { display: false }
      }
    });

  </script>

</body>

</html>